<html>
<head>
    <title>{{ title }}</title>
    <link href="https://unpkg.com/mvp.css" rel="stylesheet" />
</head>
<body>
    <header>
    <h1>{{title}}</h1>
    </header>
    <center>
    <form id="search_form" action="/search">
        <input
        type="search"
        placeholder="keyword"
        id="search_input"
        name="q"
        />
        <button type="submit">검색</button>
    </form>
    </center>
</header>
<main>
    <h5> 검색 키워드 : {{keyword}} </h5>
    {% if image_url_list %}
    <!--  -->
    <center>
        <h3 style="color: gray">{{image_url_list|length}}개 데이터 수집..</h3>
    </center>
    <section>
        {% for image_url in image_url_list %}
        <div>
        <img src="{{image_url}}" />
            <!-- {% if image_url|length > 10 %} -->
            <!--  -->
            <!-- {{image_url[:10]}}... -->
            <!--  -->
            <!-- {% else %} {{image_url}} {% endif %} -->
        </p>
        </div>
        {% endfor %}
    </section>

    <hr />
    <!-- {{books}}  -->
    {% else %}
    <center><h3 style="color: gray">Please Input Keyword...</h3></center>
    {% endif %}
</main>
</body>
</html>
